/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1 {
	color: rgb(2,132,130);
	font-size: 35px;
	font-weight: bold;
}
h2 {
	color: #ffd700;
	font-size: 20px;
	font-weight: bold;
}
nav {
	background-color: #808080;
}
li a {
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	float: left;
	display: block;
}
li a:hover {
	background-color: #ee5f3c;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #ff0000;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	column-count: 2;
}
.card {
	background-color: yellow;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	float: left;
	margin: 8%;
}
body {
	text-align: center;
}
footer {
	background-color: #808080;
}